/* VARIABLES */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Geo&family=Orbitron&family=Silkscreen&family=Tektur&display=swap');


:root {
  --light-gray: #f5f6f7;
  --dark-blue: #0a0a23;

}


/* GLOBAL SETTINGS */

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--dark-blue);
  font-family: 'Tektur', sans-serif;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  width: 65%;
  height: 100%;
  background-image: url('./images/download.svg');
  background-repeat: no-repeat;
  background-position: 100% 50%;
  display: flex;
  align-items: center;
}

.calculator {
  border: 1px solid;
  border-radius: 1rem;
  height: 75%;
  width: 40%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--light-gray);
  box-shadow: 1rem 1rem 1rem, -1rem 1rem 1rem;
}

button {
  border: 1px solid;
  padding: 0.5rem;
  cursor: pointer;
}

/* CALCULATOR SCREEN */

.calculator__screen {
  padding: 0.5rem;
  border: 1px solid;
  height: 20%;
  width: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calculator__screen p {
  font-size: 3rem;
  line-height: 0.7;
}

.calculator__screen small {
  font-size: 1.2rem;
}

/* CALCULATOR BUTTONS */

.calculator__buttons {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.calculator__main-buttons {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.calculator__main-buttons button {
  width: 20%;
}

/* Calculator ON/ OFF */

.calculator__onoff {
  width: 100%;
  height: 11%;
  text-align: right;
  background: url("./images/fcc_logo_text.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto 75%;
}

.calculator__onoff button {
  height: 100%;
  width: 20%;
}

/* Calculator operators */

/* Calculator numbers */

