/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,700;0,6..96,900;1,6..96,400;1,6..96,700&family=Raleway:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700&family=Tektur:wght@400..900&display=swap');

/* VARIABLES */

:root {
  --light-gray: #f5f6f7;
  --medium-gray: #dfdfe2;
  --darker-gray: #d0d0d5;
  --dark-blue: #0a0a23;
  --light-purple: #dbb8ff;
  --calculator-font: 'Tektur', sans-serif;
}

/* GLOBAL SETTINGS */

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--dark-blue);
  font-family: var(--calculator-font);
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  width: 65%;
  min-width: 21.875rem;
  max-width: 75rem;
  height: 100%;
  background-image: url('./assets/woman_working_illustration.svg');
  background-repeat: no-repeat;
  background-position: 100% 50%;
  display: flex;
  align-items: center;
}

.calculator {
  width: 42%;
  height: auto;
  aspect-ratio: 1 / 1.5;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--light-gray);
  box-shadow: 1rem 1rem 1rem, -1rem 1rem 1rem;
}

button {
  border: 0.03rem solid var(--dark-blue);
  border-radius: 0.2rem;
  padding: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0.156rem var(--dark-blue);
  font-family: var(--calculator-font);
  font-size: 1.2rem;
  background-color: var(--medium-gray);
}

button:hover {
  background-color: var(--darker-gray);
}

button:active {
  box-shadow: 0 0.063rem var(--dark-blue);
  transform: translateY(0.094rem);
}

/* CALCULATOR SCREEN */

.calculator__screen {
  padding: 0.5rem 0.5rem 0;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.2rem;
}

.calculator__screen--on {
  background: linear-gradient(
    -45deg,
    black,
    var(--dark-blue),
    var(--darker-gray)
  );
  color: var(--light-gray);
}

.calculator__screen--off {
  background: linear-gradient(
    45deg,
    var(--dark-blue),
    black,
    var(--dark-blue)
  )
}

.calculator__screen p {
  font-size: 3rem;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: right;
}

.calculator__screen small {
  font-size: 1.2rem;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

/* CALCULATOR BUTTONS */

.calculator__buttons {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.calculator__main-buttons {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.calculator__main-buttons button {
  width: 20%;
  aspect-ratio: 1.2 / 1;
}

.calculator__onoff {
  height: 11%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.calculator__onoff img {
  max-width: 75%;
}

.calculator__onoff button {
  height: 100%;
  width: 20%;
}

.mathOnGoing {
  background-color: var(--light-purple) !important;
  box-shadow: 0 0.063rem var(--dark-blue);
  transform: translateY(0.094rem);
}

/* MEDIA QUERIES */

@media screen and (max-width: 75rem) { /* 1200px */
  .background {
    width: 80%;
  }
}

@media screen and (max-width: 62rem) { /* 992px */
  .background {
    width: 65%;
    background-image: url('./assets/standing_man_illustration.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 120%;
  }

  .calculator {
    width: 60%;
  }

  .calculator__screen p {
    font-size: 2.5rem;
  }
  
  .calculator__screen small {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 48rem) { /* 768px */
  .background {
    width: 80%;
  }
}

@media screen and (max-width: 36rem) { /* 576px */
  .background {
    width: 100%;
    padding-left: 1rem;
    background-position: 30% 50%;
    background-size: 140%;
  }

  .calculator {
    width: 70%;
  }

  .calculator__buttons {
    gap: 0.5rem;
  }

  .calculator__onoff button {
    padding: 0;
  }

  .calculator__main-buttons {
    gap: 0.5rem
  }

  .calculator__screen p {
    font-size: 2rem;
  }
  
  .calculator__screen small {
    font-size: 0.8rem;
  }

  button {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 28.125rem) { /* 450 px */
  .calculator {
    padding: 0.7rem;
    gap: 0.7rem;
    border-radius: 0.5rem;
  }
}